body{
    background-color: rgb(0, 0, 0);
}

h3{color: rgb(241, 237, 237);}
p{color: white;}

header{
    color: white;
    margin-left: 15%;
}

h1{
    font-size: 20px;
    background-color: rgb(180, 17, 17);
    border-radius: 4px;
    margin-right: 10%;
    text-align: center;
}

.movies-container{
    display: flex;
    flex-wrap: wrap;
    margin: 8px;
    margin-right: 32%;
}

.movie{
    display: block;
    margin: 10px;
    background-color: rgba(148, 146, 146, 0.11);
    padding: 10px;
    border-radius: 10px;
    margin-right: 10px;
}


/* Nosotros maquetamos en 500, en 501 */
/* min-width Lo minimo hacia arriba*/

.movie img {
    width: 100%;
    height: auto;
}

/*Tamaño tablet  compu*/

/*de abajo hacia arriba */

h2{
    color:gold
}

form{
    max-width: 400px;
    margin: 0 auto;
    color:aliceblue
}

label{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

input{
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border:2px solid gold
}

button{
    background-color: gold;
    font-size: 15px;
    margin-top: 20px;
    border-radius: 20px;
    width: 135px;
}



/*Cambia el ancho de las peliculas .movie*/
@media(min-width:501px){
    .movie{
        width:30%; 
        /*con el ancho que das te ponen 2 elementos
        porque esta el displa en block*/
    }
}


@media (min-width:801px) {
    .movie{
        width:20%;
    }

    /* .container{
        
    } */
}

/* width: fit contentet
outline: none
border: 1px solid */