/* body{
    background-color: bisque;
} */

/* .container{
    background-color: burlywood;
    width: 200px;
    height: 200px;
    border: 2px solid black;
    font-size: 30px;
    position: relative;
} */
/* para el z index trabaja con position relative. Z es el eje de profundidad*/

/* .box{
    background-color: darkgoldenrod;
    border: 2px solid black;
    margin: 10px;
    position:relative;
    z-index: 1;
} */

/* .violeta{
    background-color: blueviolet;
    border: 2px solid black;
    margin: 10px;
    position: relative;
    z-index: 2; 
    top: 60px;
} */

/*para que cambie tenes que usar las prop del eje vertical  horizontal*/