html{
    margin: 0;
    padding: 0;
}

body{
    background-color: antiquewhite;
}

.paragraph{
    font-size: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: blueviolet;
}